<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" contect="width=device-width, initial-scale=1.0" />
    <title>Language Learner App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Language Learner App</a>
        </h1>
        <nav>
          <a href="/login">login</a>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Ciao!
      </footer>
    </div>
  </body>
</html>