<body>
  <div class="row">
    <div class="col-2 list">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >Deck Name<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Deck 1</a></li>
          <li><a class="dropdown-item" href="#">Deck 2</a></li>
          <li><a class="dropdown-item" href="#">Deck 3</a></li>
        </ul>
      </div>
      <p>Description </p>
      <form>
        <input
          name="card"
          id="list-card-input"
          autofocus="true"
          placeholder="enter new card..."
        />
      </form>
      <button class="add-new">Add New</button>
      <div class="list-container"></div>
      {{! <div class="list-card">
        <div class="list-container">
          <h4>Card</h4>
        </div>
      </div>
      <div class="list-card">
        <div class="list-container">
          <h4>Card</h4>
        </div>
      </div>
      <div class="list-card">
        <div class="list-container">
          <h4>Card</h4>
        </div>
      </div> }}
    </div>
    <div class="col-10 d-flex justify-content-evenly">
      <div class="big-card">
        <div class="big-container">
          <h4>Lang1</h4>
        </div>
      </div>
      <div class="big-card">
        <div class="big-container">
          <h4>Lang2</h4>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"
  ></script>
  <script src="/javascript/edit.js"></script>
</body>