<section id="hero-section">
  <div id="hero-section-text">
    <h2><a href="/login" id="header-link">LINGO</a></h2>
  </div>
</section>
<div class="login-link">
  <h2><a href="/login" id="login-link">Click Here to Begin</a></h2>
</div>