.coname {
}

a:link {
  text-decoration: none;
}

.foot {
  color: blue;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
  text-align: right;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.dropdown-menu {
  color: blue;
}

.new-card-btn {
}

.list-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: max-content;
  height: 4vw;
  padding: 1vw;
  margin-bottom: 2vw;
}

.list-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.list-container {
  padding: 2px 16px;
  width: max-content;
}

.big-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 15vw;
  height: 15vw;
}

.big-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.big-container {
  padding: 2px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 15vw;
  height: 15vw;
}

.save {
  margin: 2vw;
}

.edit {
  display: none;
}
#hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/jacqueline-brandwayn-S8MSj5VzHxQ-unsplash.jpg) 50% no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-link {
  color: white;
  font-size: 120px;
  text-shadow: 1px 1px 2px black;
}
#header-link:hover {
  color: cadetblue;
  transition: 0.75s;
}
.login-link {
  text-align: center;
  padding: 45px;
  text-shadow: 1px 1px 2px rgb(146, 141, 141);
}
#login-link {
  padding: 45px;
  text-align: center;
}

#login-link:hover {
  color: rgb(227, 51, 177);
  transition: 0.75s;
}

/*  */
#deck-dropdown {
  width: 100%;
}

#deck-container ul {
  width: 100%;
  text-align: center;
}

#deck-select-text{
  text-align: center;
  border-bottom: 1px solid #cccccc;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 20px;
}

/* container for sizing and positioning drilled card element */
#card-container{
  position: relative;
  margin-left: 20.5%;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 375px;
  width: 520px;

}

/* styles for main card container which houses front and back elements of drilled cards */
#card-content{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#card-content:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

/* class applied to current drilling card in order to force flip to back */
.card-flip{
  transform: rotateY(180deg);
}

/* styling for front part of drilling card */
#card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

#card-front button {
  width: 50%;
  margin-top: 25%;
  margin-left: 25%;
}

#card-front h4, #card-back h4 {
  text-align: center;
  margin-top: 15%;
}

/* styling for back part of drilling card */
#card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background: #fafafa;
}

#card-back #button-container {
  width: 90%;
  margin: 10% auto 0 auto;
  display: flex;
  justify-content: space-between;

}

#card-back h5 {
 text-align: center;
 margin-top: 18%;
}

#card-back h6 {
  text-align: center;
  margin-top: 12px;
}

#button-container button {
  width: 15%;
  color: white;
}

footer {
  border-top: 1px solid #cccccc;
}

.signup-form, .login-form {
 text-align: center;
 width: 40%;
 margin: 15px auto 15px auto ;
}

.signup-form div, .login-form div {
  margin: 15px auto 15px auto ;
 }

 .signup-form div label, .login-form div label {
  display: block;
 }

.login-form {

}

.signup-form{

}