.coname {
  color: red;
}

a:link {
  text-decoration: none;
}

.foot {
  color: blue;
}

.list-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 15vw;
  height: 4vw;
  padding: 1vw;
  margin-bottom: 2vw;
}

.list-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.list-container {
  padding: 2px 16px;
}

.big-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 15vw;
  height: 15vw;
}

.big-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.big-container {
  padding: 2px 16px;
}
#hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ), 
  url(../images/jacqueline-brandwayn-S8MSj5VzHxQ-unsplash.jpg) 50% no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-link {
  color: white;
  font-size: 120px;
  text-shadow: 1px 1px 2px black;
  
}
#header-link:hover {
  color:cadetblue;
  transition: .75s;

}
.login-link {
  text-align: center;
  padding: 45px;
  text-shadow: 1px 1px 2px rgb(146, 141, 141);
}
#login-link {
  padding: 45px;
  text-align: center;
}

#login-link:hover {
  color:rgb(227, 51, 177);
  transition: .75s;
}